body {
    margin: 0;
    padding: 0;
    /*background-image: url('stormtroopers.gif');  Replace with your image path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }